/* Populate with custom @font-face declarations i.e.

@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../../static/fonts/Helvetica/Helvetica-Regular.woff2')
      format('woff2'),
    url('../../../static/fonts/Helvetica/Helvetica-Regular.woff')
      format('woff');
}

@mixin helvetica--regular() {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
}

*/
