# Dirs
/.solr/
/.vscode/
/fulltextsearch-localsolr/
/public/_resources/
/public/assets/
/silverstripe-cache/
/themes/**/dist/
/vendor/

# Development files
.env
.vscode
*.hot-update.*
*.map
silverstripe.log

# Yarn
themes/base/.yarn/*
!themes/base/.yarn/releases
!themes/base/.yarn/plugins
!themes/base/.yarn/sdks
!themes/base/.yarn/versions
.pnp.*
yarn-error.log
