@use 'sass:math';

@mixin link-highlight($underline: false) {
  --highlight-color: var(--link-highlight);
  --highlight-no-underline: inset 0 0 0 0;
  --highlight-underline: inset 0 -1px 0 0;
  --highlight-interact: inset 0 -1.6em 0 0;

  @if $underline {
    box-shadow: var(--highlight-underline) var(--highlight-color);
  } @else {
    box-shadow: var(--highlight-no-underline) var(--highlight-color);
  }
  transition: var(--trs-default);
  text-decoration: none;
  box-decoration-break: clone;

  &:hover,
  &.focus-visible {
    box-shadow: var(--highlight-interact) var(--highlight-color);
    color: var(--link-color-interact);
  }

  @media print {
    text-decoration: underline;
  }
}

@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}

@mixin reset-button {
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
}

@mixin line-clamp($num) {
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  /* stylelint-enable */
  overflow: hidden;
}

@mixin mask-image-svg($icon, $color: none) {
  mask-image: svg-load('#{$icon}');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $color;
}

@mixin background-image-svg($icon, $fill: none, $stroke: none) {
  background-image: svg-load(
    '#{$icon}',
    'fill: #{$fill}',
    'stroke: #{$stroke}'
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin outline {
  --outline-color: var(--theme-primary, var(--black));
  outline: var(--outline-color) solid 1.5px;
  outline-offset: 2px;
}
