@use 'sass:math';

$highlight--no-underline: inset 0 0 0 0;
$highlight--underline: inset 0 -1px 0 0;
$highlight--hover: inset 0 -1.6em 0 0;

@mixin link-highlight($underline: false) {
  transition: var(--trs-default);

  @if $underline {
    box-shadow: $highlight--underline var(--link-highlight, var(--link-color));
  } @else {
    box-shadow: $highlight--no-underline
      var(--link-highlight, var(--link-color));
  }
  text-decoration: none;
  color: var(--link-color);
  box-decoration-break: clone;

  &:hover,
  &.focus-visible {
    box-shadow: $highlight--hover var(--link-highlight, var(--link-color));
    color: var(--link-color-hover);
  }

  @media print {
    text-decoration: underline;
  }
}

@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}

@mixin reset-button {
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
}

@mixin line-clamp($num) {
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  /* stylelint-enable */
  overflow: hidden;
}

@mixin background-image-svg($icon, $fill: none, $stroke: none) {
  background-image: svg-load(
    '#{$icon}',
    'fill: #{$fill}',
    'stroke: #{$stroke}'
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin outline {
  outline: var(--outline-color) solid 2px;
  outline-offset: 2px;
}
