$line: inset 0 -1px 0 0;
$line--hover: inset 0 -1.6em 0 0;

@mixin link--underline {
  transition: var(--trs-default);
  box-shadow: $line var(--link-color);
  padding-bottom: 2px;
  text-decoration: none;

  &:hover,
  &.focus-visible {
    box-shadow: $line--hover var(--link-color);
  }

  @media print {
    text-decoration: underline;
  }
}

@function rem($size) {
  @return $size / 16px * 1rem;
}
