:root {
  // Primary
  --black: #000;
  --white: #fff;
  --outline-color: var(--theme-primary, var(--hineahuone-primary));

  // Text
  --text-color-dark: var(--black);
  --text-color-light: var(--white);
  --text-color-disabled: #9d9fa1;

  // Forms
  --error-color: #ff2600;

  // Links
  --link-color: var(--text-color-dark);
  --link-color-hover: var(--text-color-light);

  // Buttons
  --button-color: var(--black);
  --button-color-hover: var(--black);
  --button-text-color: var(--black);
  --button-text-color-hover: var(--white);

  // Transitions
  --duration-short: 0.2s;
  --duration-medium: 0.3s;
  --duration-long: 0.5s;

  --easing-default: cubic-bezier(0.77, 0, 0.175, 1); // Ease-in-out quatric

  --trs-short: all var(--duration-short) var(--easing-default);
  --trs-medium: all var(--duration-medium) var(--easing-default);
  --trs-long: all var(--duration-long) var(--easing-default);
  --trs-default: var(--trs-short);

  --gutter: #{rem(16px)};
  --safe-gutters: calc(
    max(env(safe-area-inset-right), var(--gutter)) +
      max(env(safe-area-inset-left), var(--gutter))
  );
  --container-width: calc(1200px + (2 * var(--gutter)));

  @include media-breakpoint-up(sm) {
    --gutter: #{rem(24px)};
  }
}
