html {
  background: var(--white);
  height: 100%;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;

  @media (min-resolution: 192dpi) {
    -webkit-font-smoothing: auto;
  }
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
}

.typography {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

[v-cloak] {
  display: none;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus. From 'focus-visible' polyfill.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
