@mixin button {
  @include reset-button;
  display: inline-block;
  flex: 0 0 auto;
  background-color: transparent;
  color: var(--button-text-color);
  font-family: inherit;
  font-size: rem(16px);
  font-weight: 600;

  @media print {
    border: 1px solid var(--grey-dark);
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &:focus:not(.focus-visible) {
    outline: none;
  }
}

.button {
  @include button;
}

@mixin button--text {
  transition: var(--trs-default);
  border-radius: 9999px; // forces circular corners
  background-color: var(--button-color);
  padding: 10px 30px;

  &:not([disabled]):hover,
  &:not([disabled]).focus-visible {
    background-color: var(--button-color-hover);
    color: var(--button-text-color-hover);
  }
}

.button--text {
  @include button--text;
}

@mixin button--icon {
  box-sizing: content-box;
  transition: var(--trs-default);
  border-radius: 50%;
  background-color: var(--button-color);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 10px;

  &:hover,
  &.focus-visible {
    background-color: var(--button-color-hover);
  }

  &:focus:not(.focus-visible) {
    outline: none;
  }
}

.button--icon {
  @include button--icon;
}

@mixin button--link {
  @include reset-button;
  @include typography-a;
  padding: 0 5px;
  text-decoration: none;
  line-height: 1.5;
  color: var(--white);
}

.button--link {
  @include button--link;
}
