@mixin button {
  @include reset-button;
  display: inline-block;
  flex: 0 0 auto;
  transition: var(--trs-default);
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: var(--button-text-color);
  font-size: rem(16px);
  font-weight: 700;

  @include media-breakpoint-up(sm) {
    font-size: rem(18px);
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &:focus:not(.focus-visible) {
    outline: none;
  }
}

@mixin button--primary {
  border: 2px solid var(--button-color);
  padding-right: 30px;
  padding-left: 30px;

  &:hover,
  &.focus-visible {
    background-color: var(--button-color-hover);
    color: var(--button-text-color-hover);
  }
}

@mixin button--secondary {
  box-shadow: inset 0 -2px var(--button-color);

  &:hover,
  &.focus-visible {
    box-shadow: inset 0 calc((1em + (15px * 2)) * -1) var(--button-color-hover);
    color: var(--button-text-color-hover);
  }
}

@mixin button--inverse {
  --button-color: var(--white);
  --button-color-hover: var(--white);
  --button-text-color: var(--white);
  --button-text-color-hover: var(--black);
}

@mixin button--icon {
  box-sizing: content-box;
  transition: var(--trs-default);
  background-color: var(--button-color);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 10px;

  &:hover,
  &.focus-visible {
    background-color: var(--button-color-hover);
  }

  &:focus:not(.focus-visible) {
    outline: none;
  }
}

.button {
  @include button;

  &--primary {
    @include button--primary;
  }

  &--secondary {
    @include button--secondary;
  }

  &--inverse {
    @include button--inverse;
  }

  &--icon {
    @include button--icon;
  }
}
