.container {
  padding-right: max(env(safe-area-inset-right), var(--gutter));
  padding-left: max(env(safe-area-inset-left), var(--gutter));
  width: 100%;
  max-width: calc(var(--container-width) + var(--safe-gutters));
  margin-inline: auto;
}

.container--full-width {
  padding-inline: 0;
}

.container--content {
  @include media-breakpoint-up(lg) {
    --container-width: 800px;
  }
}

.container--narrow {
  @include media-breakpoint-up(lg) {
    --container-width: 1000px;
  }
}

.container--form {
  @include media-breakpoint-up(lg) {
    --container-width: 600px;
  }
}
