{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "overrides": [
    {
      "files": ["webpack.*.js", "postcss.config.js"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      }
    },
    {
      "files": ["*.test.js", "*.test.jsx"],
      "globals": {
        "Vue": true
      }
    }
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 7,
    "jsx": true,
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort", "jest"],
  "rules": {
    "import/order": "off",
    "import/no-named-as-default": "off",
    "no-unused-vars": ["warn"],
    "prettier/prettier": ["warn"],
    "simple-import-sort/sort": ["warn"]
  }
}
