{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-concentric-order",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "string-quotes": "single",
    "max-nesting-depth": 4,
    "order/properties-alphabetical-order": null,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment",
          "first-nested"
        ]
      }
    ],
    "order/order": [
      [
        "custom-properties",
        "dollar-variables",
        {
          "type": "at-rule",
          "name": "extend"
        },
        {
          "type": "at-rule",
          "name": "include",
          "hasBlock": false
        },
        "declarations",
        {
          "type": "at-rule",
          "name": "include",
          "hasBlock": true
        },
        "rules"
      ],
      {
        "severity": "warning"
      }
    ],
    "prettier/prettier": [
      true,
      {
        "severity": "warning"
      }
    ],
    "selector-class-pattern": [
      "^[a-z0-9\\-_]+$",
      {
        "message": "Selector should be written in lowercase with hyphens or underscores (selector-class-pattern)"
      }
    ]
  }
}
