@mixin typography-a {
  @include link-underline;
  text-decoration: none;
  color: var(--link-color);

  &:hover,
  &.focus-visible {
    color: var(--link-color-hover);
  }

  &[href^='http'] {
    &::after {
      display: inline-block;
      transition: background-image var(--duration-short) var(--easing-default);
      margin-left: 5px;
      background-image: svg-load('link-external.svg', stroke=#000); // --black
      width: 9px;
      height: 10px;
      content: '';

      @media print {
        display: inline;
        margin: 0;
        width: auto;
        height: auto;
        content: ' (' attr(href) ')';
      }
    }

    &:hover,
    &.focus-visible {
      &::after {
        background-image: svg-load('link-external.svg', stroke=#fff); // --white
      }
    }
  }
}

@mixin typography-link {
  display: inline-block;
  font-size: rem(16px);
}

@mixin typography-link-download {
  text-decoration: none;
  color: currentColor;

  &-name {
    display: inline-block;
    transition: var(--trs-default);
    box-shadow: $line var(--link-color);
    text-decoration: none;
    color: var(--link-color);

    &::after {
      display: inline-block;
      transition: background-image var(--duration-short) var(--easing-default);
      margin-left: 5px;
      background-image: svg-load('link-download.svg', stroke=#000); // --black
      width: 9px;
      height: 10px;
      content: '';
    }
  }

  @at-root {
    .typography &:hover .link__download-name,
    .typography &.focus-visible .link__download-name {
      box-shadow: $line--hover var(--link-color);
      color: var(--link-color-hover);

      &::after {
        background-image: svg-load('link-download.svg', stroke=#fff); // --white
      }
    }
  }

  &-details {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: rem(0.5px);
    font-size: rem(11px);
    font-weight: 300;
  }
}

.typography {
  a:not(.link__download):not(.button) {
    @include typography-a;
  }

  .link {
    @include typography-link;
  }

  .link__download {
    @include typography-link-download;
  }
}
