@mixin typography-a {
  @include link-highlight(true);
  color: var(--link-ink-color);

  &[href^='http'] {
    &::after {
      display: inline-block;
      transition: var(--trs-default);
      margin-left: 5px;
      background-color: var(--link-ink-color);
      width: 9px;
      height: 10px;
      content: '';
      mask-image: url('../../../static/svg/link-external.svg');
      mask-size: cover;

      @media print {
        display: inline;
        margin: 0;
        width: auto;
        height: auto;
        content: ' (' attr(href) ')';
      }
    }

    &:hover,
    &.focus-visible {
      &::after {
        background-color: var(--link-ink-color-interact);
      }
    }
  }
}

@mixin typography-link-download {
  text-decoration: none;
  color: currentColor;

  &-name {
    transition: var(--trs-default);
    box-shadow: var(--highlight-underline) var(--link-ink-color);
    text-decoration: none;
    color: var(--link-ink-color);

    &::after {
      display: inline-block;
      transition: var(--trs-default);
      margin-left: 5px;
      background-color: currentColor;
      background-color: var(--link-ink-color);
      width: 9px;
      height: 10px;
      content: '';
      mask-size: cover;
      mask-image: url('../../../static/svg/link-download.svg');
    }
  }

  &:hover .link__download-name,
  &.focus-visible .link__download-name {
    box-shadow: var(--highlight-interact) var(--link-ink-color);
    color: var(--link-ink-color-interact);

    &::after {
      background-color: var(--link-ink-color-interact);
    }
  }

  &-details {
    text-transform: uppercase;
    letter-spacing: rem(0.5px);
    font-size: rem(11px);
    font-weight: 300;
  }
}

.edit-link {
  position: absolute;
  right: 0;
  transition: var(--trs-default);
  opacity: 0.5;
  z-index: 100;
  background-color: var(--theme-primary);
  padding: 3px 5px;
  text-decoration: none;
  color: var(--white);
  font-size: rem(12px);

  @media print {
    display: none;
  }

  &:hover,
  &.focus-visible {
    opacity: 1;
  }
}

.typography {
  a:not(.link__download):not(.button) {
    @include typography-a;
  }

  .link__download {
    @include typography-link-download;
  }
}
