@mixin typography-a {
  @include link-highlight(true);
  padding-top: 0.25em;
  padding-bottom: 0.125em;

  &[href^='http'] {
    &::after {
      display: inline-block;
      transition: var(--trs-default);
      margin-left: 5px;
      background-color: var(--link-color);
      width: 9px;
      height: 10px;
      content: '';
      mask-image: url('../../../static/svg/link-external.svg');
      mask-size: cover;

      @media print {
        display: inline;
        margin: 0;
        width: auto;
        height: auto;
        content: ' (' attr(href) ')';
      }
    }

    &:hover,
    &.focus-visible {
      &::after {
        background-color: var(--link-color-hover);
      }
    }
  }
}

@mixin typography-link-download {
  text-decoration: none;
  color: currentColor;

  &-name {
    transition: var(--trs-default);
    box-shadow: $highlight--underline var(--link-color);
    text-decoration: none;
    color: var(--link-color);

    &::after {
      display: inline-block;
      transition: var(--trs-default);
      margin-left: 5px;
      background-color: currentColor;
      background-color: var(--link-color);
      width: 9px;
      height: 10px;
      content: '';
      mask-size: cover;
      mask-image: url('../../../static/svg/link-download.svg');
    }
  }

  &:hover .link__download-name,
  &.focus-visible .link__download-name {
    box-shadow: $highlight--hover var(--link-color);
    color: var(--link-color-hover);

    &::after {
      background-color: var(--link-color-hover);
    }
  }

  &-details {
    text-transform: uppercase;
    letter-spacing: rem(0.5px);
    font-size: rem(11px);
    font-weight: 300;
  }
}

.typography {
  a:not(.link__download):not(.button) {
    @include typography-a;
  }

  .link__download {
    @include typography-link-download;
  }
}
