@mixin typography-p {
  margin-block: var(--paragraph-spacing);
  line-height: 1.5;
  font-size: rem(16px);
}

@mixin typography-em {
  font-style: italic;
}

@mixin typography-strong {
  font-weight: 600;
}

@mixin typography-hr {
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid currentColor;
}

@mixin typography-list {
  @include typography-p;
  margin-inline: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;

  ul,
  ol {
    margin-block: 5px;
  }
}

@mixin typography-li {
  margin-top: 0;
  padding-left: var(--list-indent);
  font-size: inherit;

  &::before {
    display: inline-block;
    margin-left: calc(var(--list-indent) * -1);
    width: var(--list-indent);
    text-align: left;
  }

  + li {
    margin-block: 5px;
  }
}

@mixin typography-ul {
  @include typography-list;

  // Level 1
  li::before {
    content: '•';
  }

  ul {
    // Level 2
    li::before {
      content: '—';
    }
  }
}

@mixin typography-ol {
  @include typography-list;

  ::marker {
    text-align: left;
  }

  // Level 1
  li {
    counter-increment: level1;

    &::before {
      content: counter(level1, decimal) '.';
    }
  }

  ol {
    // Level 2
    li {
      counter-increment: level2;

      &::before {
        content: counter(level2, lower-alpha) '.';
      }
    }

    ol {
      // Level 3
      li {
        counter-increment: level3;

        &::before {
          content: counter(level3, lower-roman) '.';
        }
      }
    }
  }
}

.typography {
  p {
    @include typography-p;
  }

  i,
  em {
    @include typography-em;
  }

  b,
  strong {
    @include typography-strong;
  }

  hr {
    @include typography-hr;
  }

  li {
    @include typography-li;
  }

  ul {
    @include typography-ul;
  }

  ol {
    @include typography-ol;
  }
}
