@mixin typography-p {
  line-height: 1.5;
  font-size: rem(16px);
}

@mixin typography-em {
  font-style: italic;
}

@mixin typography-strong {
  font-weight: 600;
}

@mixin typography-hr {
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid currentColor;
}

@mixin typography-blockquote {
  position: relative;
  margin: 40px 0;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin: 70px 0 50px;
  }
}

.typography {
  p {
    @include typography-p;
  }

  i,
  em {
    @include typography-em;
  }

  b,
  strong {
    @include typography-strong;
  }

  hr {
    @include typography-hr;
  }

  blockquote {
    @include typography-blockquote;
  }
}
